<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="/public/css/stylesheet.css"/>
    <title>Document</title>
</head>
<body>
    <div class="ui sidebar inverted vertical menu" id="sidebar">
        <a class="item">
          1
        </a>
        <a class="item">
          2
        </a>
        <a class="item">
          3
        </a>
    </div>
      <div class="dimmed pusher">
        <!-- Site content !-->
        <header class="">
            <div class="ui huge inverted segment">
                <div class="ui inverted secondary pointing menu">
                  <a class="item">
                    Home
                  </a>
                  <a class="item">
                    Messages
                  </a>
                  <a class="item">
                    Friends
                  </a>
                </div>
              </div>
        </header>
        <section class="body">




        </section>
      </div>
      <script src="/public/js/sidebar.js"></script>
</body>
</html>