  <div class="container is-fullhd is-light">
          <div class="box is-widescreen">
            I'm in a box.
          </div>
          <textarea class="textarea is-widescreen" placeholder="e.g. Hello world"></textarea>

        </div>