   <div class="box title is-4 has-text-centered">
            <i class="fas fa-sign-in-alt"></i>
             Log In Below
    </div>
    <form class="box">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" placeholder="e.g. name@example.com">       
              </div>
            </div>
          
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="********">
              </div>
            </div>
          
            <button class="button is-danger">Sign in</button>
    </form>