  <div class="box newPost">
          <input class="input is-danger mb-3" type="text" placeholder="Title...">
            <div class="control textArea">
              <textarea class="textarea is-danger" placeholder="Text area..." id="textArea"></textarea>
            </div>
          
            <button class="button is-small is-fullwidth is-danger  is-outlined mt-3">Submit</button>
        </div>