  <div class="box newPost">
              <input class="input is-danger mb-3" type="text" placeholder="Title..." id="newPostTitle">
          <div class="control textArea">
              <textarea class="textarea is-danger" placeholder="Text area..." id="textArea" id="newPostBody"></textarea>
          </div>
              <button class="button is-small is-fullwidth is-success is-outlined mt-3 has-text-primary-light" id="submitNewPost">Submit</button>
               <button href="" class="button is-small is-fullwidth is-danger is-outlined mt-3" id="cancelNewPost">cancel</button>
  </div>