 <div class="box title is-4 has-text-centered">
            <!-- <i class="fas fa-sign-in-alt"></i> -->
             Create Account
</div>
 <form class="box signUP">

          <div class="field">
            <label class="label">First Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Joe" id="firstName">       
            </div>
          </div>
          <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Bloggs" id="lastName">       
            </div>
          </div>
          <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" placeholder="e.g. name@example.com">       
              </div>
          </div>
          
          <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="********">
              </div>
          </div>

          <div class="field">
            <label class="label">Re-Enter Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="********">
            </div>
        </div>
        
          
            <button class="button is-danger" id="creatAccount">Creat Account</button>
           
    </form>


    <script src="/public/js/createUser.js"></script>