@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
/* font-family: 'Roboto Mono', monospace; */

* {
    /* all:unset; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

ol,
ul {
  list-style: none;
}  

/* ==============================================
-  Header
============================================== */

.header{
  background: rgb(22, 22, 22);
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftMenu{
 width: 20vw;
}

.rightMenu {
  width: 80vw;

}

.pusher{
  background-color: blanchedalmond;
  height: 20px;
  width:20px;
}
  
  