@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
/* font-family: 'Roboto Mono', monospace; */

* {
    /* all:unset; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

ol,
ul {
  list-style: none;
}  

/* ==============================================
-  media queries to control number of slides 
============================================== */


.pusher{



}