* {
    /* all:unset; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

ol,
ul {
  list-style: none;
}  

/* ==============================================
-  media queries to control number of slides 
============================================== */


.pusher{



}